@model SAEP22.Models.Equipamentos

@{
    ViewData["Title"] = "Cadastrar";
}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    
    <body>

        <div class="mt-5 mb-5 d-flex justify-content-between align-items-center flex-wrap">
            <h4>Novo equipamento</h4>
            <a asp-action="Index" class="btn btn-link-dark">Voltar</a>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Equipamento" class="control-label"></label>
                        <input asp-for="Equipamento" class="form-control" required />
                        <span asp-validation-for="Equipamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Imagem" class="control-label"></label>
                        <input asp-for="Imagem" class="form-control" required />
                        <span asp-validation-for="Imagem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" required />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" required/> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input type="datetime-local" asp-for="Data" class="form-control" required />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-link">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        @*<script>
            function checkInputs(inputs) {
                var filled = true;

                inputs.forEach(function (input) {

                    if (input.value === "") {
                        filled = false;
                    }
                    console.log(input)
                });

                return filled;

            }
            var inputs = document.querySelectorAll("input");
            var button = document.querySelector("button");
            inputs.forEach(function (input) {

                input.addEventListener("keyup", function () {
                    if (checkInputs(inputs)) {
                        button.disabled = false;
                    } else {
                        button.disabled = true;
                    }
                });
            });
        </script>*@
    </body>
</html>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

